<h1>

    <div class="container">

        <%= care.name %>'s Self Care Tips Page</h1>
<a href="/cares/<%= care._id %>/edit">Edit Category</a>
<br>
<br>
<img src="<%=care.image%>">
<form action="/cares/<%= care.id %>?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-danger btn-sm">Delete Category</button>
</form>
</div>
<br>
<br>


<div class="container">
    ß
    <div class="row text-center text-lg-left">
        <h4>Current Tips in this Category</h4>
        <ul>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <% care.tips.forEach(tip => { %>
                    <li class="img-fluid img-thumbnail">
                        <b><%= tip.name %>:</b>
                        <%= tip.description %>
                            <img class="tipImages" src="<%=tip.tipImg%>" />
                            <% }) %>
                    </li>
            </div>
        </ul>
    </div>
</div>



<div class="container">
    <h4>Add Tips</h4>


    <form action="/cares/<%= care.id %>/tips?_method=PUT" method="POST">
        <% tips.forEach(tip => { %>

            <input type="checkbox" name="tips" value="<%= tip.id %>" />
            <label for="<%= tip.name %>"><%= tip.name%>: <%= tip.description %></label><br />
            <% })%>
                <input type="submit" value="Add Tips" />
    </form>
</div>

<div class="container">

    <h4>Remove Tips</h4>

    <form action="/cares/<%= care.id %>/tips/remove?_method=PUT" method="POST">
        <% tips.forEach(tip => { %>

            <input type="checkbox" name="tips" value="<%= tip.id %>" />
            <label for="<%= tip.name %>"><%= tip.name%>: <%= tip.description %></label><br />
            <% })%>
                <input type="submit" value="Remove Tips" />
    </form>


</div>