<h1>
    <%= poster.name %> Detail Page</h1>

<h4>Add Tips</h4>
<form action="/posters/<%= poster.id %>/tips?_method=PUT" method="POST">
    <% tips.forEach(tip => { %>
        <input type="checkbox" name="tips" value="<%= tip.id %>" />
        <label for="<%= tip.name %>"><%= tip.name %></label><br />
        <% })%>
            <input type="submit" value="Add Tips" />
</form>

<h4>Tips</h4>
<ul>
    <% poster.tips.forEach(tip => { %>
        <li>
            <%= tip.name %>
                <% }) %>
        </li>
</ul>